/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo da página */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f4f8;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
  flex-direction: row;
}
.wrapper {
  display: flex;
  width: 100%;
  gap: 10px; /* Espaço entre os blocos, opcional */
}



.main-container {
  width: 65%;
  padding-left: 15px;
  padding-top: 5px;
  box-sizing: border-box;
}

.copy-container {
  width: 35%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  box-sizing: border-box;
}

/* Estilo para o container de cadastro */
.container-cadastro {
  padding-left: 1%;
  display: flex; /* Torna os filhos do container flexíveis */
  flex-direction: row; /* Garante que os elementos fiquem na linha */
  justify-content: flex-start; /* Faz com que os itens fiquem alinhados à esquerda */
  max-width: 50% ; /* Ajuste para ocupar mais largura */
  height: max-content;
  flex-wrap: wrap; /* Permite que os itens se movam para uma nova linha em telas pequenas */
}

/* Estilo para cada campo dentro do container */
.container-cadastro .form-row {
  flex: 1; /* Faz com que os campos ocupem o mesmo tamanho */
  margin-right: 0; /* Remover o espaçamento direito */
}

/* Para o último campo, remove o margem da direita */
.container-cadastro .form-row:last-child {
  margin-right: 0;
}

/* Ajusta a largura dos inputs para que caibam melhor */
.container-cadastro .form-row input {
  width: 50%; /* Ocupa toda a largura disponível dentro do form-row */
  padding: 6px; /* Reduz o padding */
  margin-bottom: 8px; /* Menor margem inferior */
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Ajustes para o label */
.container-cadastro label {
  font-size: 0.875rem; /* Fonte menor para o texto */
  margin-bottom: 5px; /* Menos espaço entre o texto e o campo */
}

/* Para o primeiro campo de nome */
.form-row-name input {
  width: 20%; /* O input de nome ocupa toda a largura disponível */
}

/* Ajustes para o padding do formulário para garantir mais compactação */
.patient-info form {
  display: flex;
  justify-content: flex-start;
  gap: 1rem; /* Ajuste no espaçamento entre os campos */
  flex-wrap: wrap; /* Garante que os campos não saiam da linha */
}

/* Ajuste de padding nos campos */
.patient-info form input {
  padding: 6px; /* Reduz o padding nos campos */
  font-size: 1rem; /* Ajusta o tamanho da fonte */
}






/* Container da planilha */
.container-planilha {
  flex-direction: column;
  justify-content: flex-start;
  width: 93%; /* Agora ocupa toda a largura */
  height: 60%; /* Ocupa toda a altura disponível */
  background: #fff;
  border-radius: 0.75rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  height: max-content;

}

.container-botaoGeradordeTexto{
  width: 38%; /* Largura fixa */
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: max-content;
}

.diminuir{
padding-left: 100px;
padding-right: 100px;
width: 100%;

}

/* Ajustes para os containers da medicação e volumes */
.container-VEesquerdo {
  width: 93%; /* Agora ocupa toda a largura */
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.containerVDdireito{
  width: 93%; /* Agora ocupa toda a largura */
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: max-content;
}
.container-ADdireito {
  width: 93%; /* Agora ocupa toda a largura */
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: max-content;
}

.containerAE {
  width: 93%; /* Agora ocupa toda a largura */
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: max-content;
}

/* Garantir que os dois containers (VD e AE) fiquem lado a lado */
.container-direitos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Seção de informações do paciente */


/* Ajustando o padding dos campos do formulário */
.patient-info form {
  display: flex;
  justify-content: space-between; /* Espaço igual entre os campos */
  gap: 1rem; /* Adiciona um pequeno espaço entre os campos */
  flex-wrap: wrap; /* Garante que os campos não saiam da linha */
}
.patient-info form label {
  margin-bottom: 5px; /* Menor espaçamento entre o label e o campo */
}

.patient-info form input {
  width: 100%; /* Ajuste para que ocupe toda a largura disponível */
  padding: 2px; /* Reduz o padding, caso queira mais compactação */
  margin-bottom: 10px; /* Ajusta o espaçamento entre os campos */
}

/* Seção de tabela de volumes cardíacos */
.summary {
  width: 100%;
  padding-left: 1.25rem; /* Ajuste para maior espaçamento */
  display: flex;
  flex-direction: column; /* Adicionado para empilhar os elementos */
  gap: 1rem; /* Adiciona espaçamento entre os elementos */
}

.patient-title{
  padding-left: 10%;
  font-size: 15px;
}

.planilha-titulo {
  font-size: 15px;
}

/* Títulos */
h1, h2 {
  color: #034a74;
  text-align: center;
}

/* Estilo do formulário */
form label {
  display: block;
  margin: 1rem 0 0.5rem;
  color: #555;
}


form input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  font-size: 1rem;
}

form button {
  background-color: #034a74;
  color: #fff;
  border: none;
  padding: 0.625rem 1.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
  display: block;
  margin-top: 1rem;
  width: 100%;
  font-size: 1rem;
}

form button:hover {
  background-color: #0288d1;
}

/* Tabela de volumes cardíacos */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.25rem;
}

table thead {
  background-color: #034a74;
  color: white;
}

table th, table td {
  padding: 0.625rem;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 1rem;
}

table td input {
  width: 90%;
  padding: 0.375rem;
  text-align: center;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  font-size: 1rem;
}

/* Rodapé informativo */
.info-footer {
  margin-top: 1.25rem;
  color: #666;
  font-size: 0.875rem;
  text-align: center;
}



/* Responsividade para dispositivos menores */
@media (max-width: 768px) {
  /* Ajuste no container para telas menores */
  .container {
    flex-direction: column;
    padding: 1rem;
    width: 100%;
  }

  .patient-info, .summary {
    width: 100%;
  }

  h1, h2 {
    font-size: 1.5rem;
  }

  form button, #generateReportBtn {
    width: 100%;
  }

  table th, table td {
    font-size: 0.875rem;
    padding: 0.625rem;
  }

  /* Ajusta a área do laudo para ocupar toda a tela */
  #reportContainer {
    position: static;
    width: 100%;
    margin-top: 1rem;
    height: auto;
  }
}

    #reportContainer {
  margin-top: 20px;
}

    #reportContainer h2 {
        margin-bottom: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #333;
    }

   #laudoText {
  width: 100%;
  height: 450px;
  padding: 15px;
  font-size: 14px;
  resize: vertical;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

    
        #generateReportBtn {
        background-color: #28a745;
        color: white;
        padding: 10px 18px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 15px;
        font-weight: 500;
        margin-top: 20px;
        box-shadow: 0 2px 6px rgba(40, 167, 69, 0.4);
        transition: background-color 0.3s ease, transform 0.2s ease;
    }

    #generateReportBtn i {
        margin-right: 6px;
    }

    #generateReportBtn:hover {
        background-color: #1e7e34;
        transform: translateY(-1px);
         }

         .input-azul {
    background-color: #d0e7ff;
    border: 1px solid #aaa;
    padding: 4px;
    border-radius: 4px;
}
input[readonly] {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    color: #333;
}

.input-manual {
  background-color: #95c8ff !important; /* azul claro */
}

.input-manual-amarelo {
  background-color: #e3ff67 !important; /* azul claro */
}

.input-manual-MVVM {
  background-color: #fc2525 !important; /* azul claro */
}

.input-auto {
  background-color: #e9ecef !important; /* cinza claro */
  pointer-events: none;
  border: 1px solid #ccc;
}

.containerAEesquerdo {
  width: 20%;
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: max-content;
}

.volume-resultado {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0.5rem 0.75rem;
  margin-bottom: 1rem;
  font-size: 0.95rem;
  color: #555;
}

.volume-display {
  display: inline-block;
  margin-left: 8px;
  font-weight: bold;
  color: #888;
}

.containerADesquerdo {
  width: 20%;
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: max-content;
}


.h1VolAE{
  color: #034a74;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;

}

input.input-manual::placeholder {
  color: #fff;          /* Cor do texto do placeholder */
  font-style: italic;   /* Texto em itálico */
  font-size: 0.95rem;   /* Tamanho da fonte (ajustável) */
  opacity: 1;           /* Para garantir visibilidade total */
  font-weight: bold;
}

/* Modal Laudo */
/* Modal Laudo - posicionado à direita */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  width: 39%;  /* ou ajuste para 400px, por exemplo */
  height: 100%;
  background-color: rgba(247, 245, 245, 0);
  justify-content: flex-end; /* garante alinhamento à direita */
  align-items: flex-start;
  padding-top: 1;
}

.modal-content {
  background-color: rgb(255, 249, 249);
  padding: 5px;
  border-radius: 12px 0 0 12px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-shadow: -4px 0 20px rgb(241, 241, 241);
  position: relative;
}

.modal-content textarea {
  width: 100%;
  resize: vertical;
  font-size: 1rem;
  padding: 5px;
  box-sizing: border-box;
}

.close {
  position: absolute;
  top: 10px;
  right: 16px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #555;
  cursor: pointer;
}

.copy-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

#copyStatus {
  margin-left: 1rem;
  font-weight: bold;
}




#reportContainer textarea {
  width: 100%;
  height: 400px;
  padding: 10px;
  font-size: 14px;
  resize: vertical;
  box-sizing: border-box;
}



.btn-voltar {
  height: 34px;
  display: inline-block;
  padding: 8px 16px 0px 10px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.btn-voltar:hover {
  background-color: #0056b3;
}

.btn-voltar i {
  margin-right: 4px;
}

.form-row-group {
  display: flex;
  gap: 4px; /* bem mais próximo, pode usar 2px se quiser coladinhos */
  flex-wrap: wrap; /* permite quebrar linha se necessário */
  align-items: flex-end; /* alinha os campos pela base */
  padding-left: 15px;
  padding-bottom: 2%;
}


.form-row-name {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.form-row-idade {
  width: 50px;

}

.form-row-peso{
width: 50px;
}

.form-row-altura{
width: 50px;

}

.form-row {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 80px;

}

.form-row-name input,
.form-row {
  margin: 0;
  padding: 0;
}

label {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 14px;
}

.btn-expandir {
  background-color: #007bff;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.btn-expandir:hover {
  background-color: #0056b3;
}

.conteudo-escondido {
  display: none;
  padding: 10px;
  border-left: 4px solid #007bff;
  background: #f9f9f9;
  border-radius: 6px;
}
