body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.pagamento-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pagamento-card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  position: relative;
}

.close-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

h1 {
  margin-bottom: 10px;
  color: #2c3e50;
}

.descricao {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 20px;
}

.qr-image {
  width: 100%;
  max-width: 280px;
  margin: 20px auto;
  display: block;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.pix-codigo {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pixCode {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: none;
  margin-bottom: 10px;
}

#copyBtn {
  background-color: #f39c12;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

#copyBtn:hover {
  background-color: #d78f0e;
}

.confirmar-btn {
  margin-top: 20px;
  background-color: #27ae60;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.confirmar-btn:hover {
  background-color: #219150;
}


.nome-pagador {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}
